/* 
Ported from: https://github.com/botoxparty/XP.css

Copyright 2020 Adam Hammad, Jordan Scales
Copyright 2025 E-vvia

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.**/

body {
  background-image: url("https://cdn.jsdelivr.net/gh/E-vvia/WindowsXPLayout/images/bliss.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/** .window **/
.container {
  margin-top: 2%;
  margin-bottom: 2%;
}

nav,
.row.profile .col.left,
.row.profile .col.right {
  font-size: 11px;
  background: #ece9d8;
  box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9,
    inset -2px -2px #001ea0, inset 2px 2px #166aee, inset -3px -3px #003bda,
    inset 3px 3px #0855dd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 0 3px;
  -webkit-font-smoothing: antialiased;
}

.row.profile {
  border-spacing: 5px;
}

/** title-bar **/
nav .top,
.row.profile .col.left span[itemprop="name"],
.row.profile .col.right .blog-preview {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Trebuchet MS;
  background: linear-gradient(
    180deg,
    #0997ff,
    #0053ee 8%,
    #0050ee 40%,
    #06f 88%,
    #06f 93%,
    #005bff 95%,
    #003dd7 96%,
    #003dd7
  );
  padding: 3px 5px 3px 3px;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  border-top-left-radius: 8px;
  border-top-right-radius: 7px;
  font-size: 13px;
  text-shadow: 1px 1px #0f1089;
  min-height: 21px;
}

.row.profile .col.left span[itemprop="name"] h1,
.row.profile .col.right .blog-preview h4,
.row.profile .col.right .blog-preview p {
  font-weight: 700;
  color: #fff;
  letter-spacing: 0;
  margin-right: 24px;
  padding-left: 3px;
}

/** title-bar-controls  **/
nav:not(:has(a[href='https://spacehey.com/login']))  .right
{
  display: flex !important;
  font-size: 0px;
  gap: 1px;
}

/**.title-bar-controls button[aria-label="Help"]**/
nav:not(:has(a[href='https://spacehey.com/login']))  .right a
{
  background-image: url("https://cdn.jsdelivr.net/gh/E-vvia/WindowsXPLayout/icons/help.svg");
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
}

nav:not(:has(a[href='https://spacehey.com/login']))  .right a:hover
{
  background-image: url("https://cdn.jsdelivr.net/gh/E-vvia/WindowsXPLayout/icons/help-hover.svg");
}

nav:not(:has(a[href='https://spacehey.com/login']))  .right a:not(:disabled):active
{
  background-image: url("https://cdn.jsdelivr.net/gh/E-vvia/WindowsXPLayout/icons/help-active.svg");
}

/**title-bar-controls button[aria-label="Close"]**/
nav:not(:has(a[href='https://spacehey.com/login']))  .right button
{
  background-image: url("https://cdn.jsdelivr.net/gh/E-vvia/WindowsXPLayout/icons/close.svg") !important;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  cursor: pointer;
}

nav:not(:has(a[href='https://spacehey.com/login']))  .right button:hover
{
  background-image: url("https://cdn.jsdelivr.net/gh/E-vvia/WindowsXPLayout/icons/close-hover.svg") !important;
}

nav:not(:has(a[href='https://spacehey.com/login']))  .right button:not(:disabled):active
{
  background-image: url("https://cdn.jsdelivr.net/gh/E-vvia/WindowsXPLayout/icons/close-active.svg") !important;
}

nav .links {
  background-color: transparent;
  margin: 0 1px !important;
  display: flex;
  box-shadow: inset 0 1px 2px grey;
  padding: 2px 1px !important;
  gap: 0;
}

nav .links li {
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: antialiased;
  box-shadow: none;
  padding: 1px 2px;
  border-right: 1px solid rgba(208, 206, 191, 0.75);
  border-left: 1px solid hsla(0, 0%, 100%, 0.75);
}

nav .links a {
  color: initial;
  text-shadow: none;
}

nav .links li:first-of-type {
  border-left: none;
}

nav .links li:last-of-type {
  border-right: none;
}

nav .links li:not(:last-child)::after {
  content: "" !important;
}

main {
  background: transparent;
}

.edit-link,
.general-about,
.profile-pic,
.mood,
.contact,
.url-info,
.table-section {
  margin: 2%;
}

.heading {
  background-color: #00138c !important;
}

.url-info,
.contact,
.table-section {
  border: none !important;
}

/**button **/

.profile-info {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  align-items: center;
  justify-content: center;
  padding: none;
  margin-bottom: none;
}

.profile-info a {
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: antialiased;
  font-size: 11px;
  box-sizing: border-box;
  border: 1px solid #003c74;
  background: linear-gradient(180deg, #fff, #ecebe5 86%, #d8d0c4);
  box-shadow: none;
  border-radius: 3px;
}

.profile-info a:not(:disabled).active,
.profile-info a:not(:disabled):active {
  border: none;
  box-shadow: none;
  background: linear-gradient(
    180deg,
    #cdcac3,
    #e3e3db 8%,
    #e5e5de 94%,
    #f2f2f1
  );
  border-radius: 0;
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
}

.profile-info a:not(:disabled):hover {
  box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889,
    inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
}

.profile-info a.focused,
.profile-info a:focus {
  outline: 1px dotted #000;
  outline-offset: -4px;
  box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea,
    inset -2px 2px #bcd4f6, inset 1px -1px #89ade4, inset 2px -2px #89ade4;
}
